@import 'tailwindcss';

:root {
	color: #0f172a;
	background-color: #ffffff;
}

body {
	font-family: 'Inter', system-ui, -apple-system, sans-serif;
	background: #ffffff;
}

h1,
h2,
h3,
h4 {
	font-family: 'Poppins', 'Inter', system-ui, -apple-system, sans-serif;
}
